<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users page</h1>
    <p>The Current User Details <%= users.tasks[0].title %></p>
  </body>
</html>